
%image{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

$table-color : black;

@media (min-width: 500px) {
  div[id=content] > h1::before{
      content: "You want posters! Welcome";
  }
}

@media (max-width: 499px) {
  div[id=content] > h1::before {
      content: "Posters!!";
  }
}

.zoom{
  transition: transform .2s ease; /* Animation */

}
.zoom:hover {
  
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  
}

a:link{
  color: black;
}


.list-items{
    position: relative;
    opacity: 0.8;
}

a:hover{
  background-color: #1570bb9a;
}
// #Information{
//   background-color: mix($color: #000000, $color: #000000, $weight: 0.5);
// }
#content{
  background-color: white;
  position: relative;
  z-index: 1;
  opacity : 0.8;
  padding: 5%;
  margin: 10%;
}
#container > div {
      background-color: springgreen;
      font-size: 20px;
      margin: 20px;
      padding: 20px;
      width: 200px;
  }


body{
    @extend %image;
//   background-image: url("background2.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: #EEEE00 0 0 10px;
  
}

p::selection{
    color: red;
    background-color: yellow;
  }

  b::selection{
    color: red;
    background-color: yellow;
  }
.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex > div {
    background-color: springgreen;
    font-size: 20px;
    margin: 20px;
    padding: 5px;
    width: auto;
}
table{
  border: 2px solid $table-color;
  border-collapse: collapse;
  // padding: 5%;
  width: 50%;
}
th, td{
  border: 1px solid $table-color;
  padding: 5px;
  text-align: center;
}
th{
  background-color: lightgray;
  // text-align: center;
}
// td[type=number]{
  
//   // text-align: center;
// }